<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- Database Configuration -->
    <import resource="spring/DataSource.xml"/>
    <import resource="spring/HibernateSessionFactory.xml"/>

    <!-- Beans Declaration -->
    <import resource="sshconfig/com/neurix/authorization/user/spring/UserBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/role/spring/RoleBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/role/spring/RoleFuncBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/position/spring/PositionBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/function/spring/FunctionBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/company/spring/CompanyBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/company/spring/AreaBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/company/spring/BranchBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/company/spring/AreaBranchUserBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/jamLembur/spring/JamLemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/pengaliFaktorLembur/spring/PengaliFaktorLemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/libur/spring/LiburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/jamLembur/spring/JamLemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/pengaliFaktorLembur/spring/PengaliFaktorLemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipelibur/spring/TipeLiburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/golongan/spring/GolonganBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/golonganDapen/spring/GolonganDapenBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/golonganPkwt/spring/GolonganPkwtBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/updateGolongan/spring/ImtUpdateGolonganBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/department/spring/DepartmentBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/profesi/spring/ProfesiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/strukturJabatan/spring/StrukturJabatanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/ijin/spring/IjinBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipeNotif/spring/TipeNotifBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/cuti/spring/CutiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/cutiPanjang/spring/CutiPanjangBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/rsKerjasama/spring/RsKerjasamaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/biayaPerjalananDinas/spring/BiayaPerjalananDinasBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/kelompokPosition/spring/KelompokPositionBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/transportLokal/spring/TransportLokalBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/perjalananDinas/spring/PerjalananDinasBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/biodata/spring/BiodataBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipepegawai/spring/TipePegawaiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/keluarga/spring/KeluargaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/study/spring/StudyBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/provinsi/spring/ProvinsiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/sppd/spring/SppdBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/notifikasi/spring/NotifikasiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/notif/spring/NotifBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/medicalrecord/spring/MedicalRecordBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/group/spring/GroupBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/groupShift/spring/GroupShiftBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/groupMember/spring/GroupMemberBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipelibur/spring/TipeLiburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/biayapengobatan/spring/BiayaPengobatanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/jamkerja/spring/JamKerjaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/rskelas/spring/RsKelasBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/shift/spring/ShiftBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/training/spring/TrainingBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/mutasi/spring/MutasiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/ijinKeluar/spring/IjinKeluarBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/cutiPegawai/spring/CutiPegawaiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkBudget/spring/SmkBudgetBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipeAspek/spring/TipeAspekBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/statusRekruitment/spring/StatusRekruitmentBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/positionBagian/spring/PositionBagianBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/smkKategoriAspek/spring/SmkKategoriAspekBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkIndikatorPenilaianAspek/spring/SmkIndikatorPenilaianAspekBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkIndikatorKinerja/spring/SmkIndikatorKinerjaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkSkalaNilai/spring/SmkSkalaNilaiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkSkalaPointPrestasi/spring/SmkSkalaPointPrestasiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkSkalaNilaiItem/spring/SmkSkalaNilaiItemBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkCheckList/spring/SmkCheckListBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkIndikatorPenilaianCheckList/spring/SmkIndikatorPenilaianCheckListBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkPersenSmkNilai/spring/SmkPersenSmkNilaiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/masaTanam/spring/MasaTanamBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/transaksi/Lembur/spring/LemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/JadwalShiftKerja/spring/JadwalShiftKerjaBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/smkJabatan/spring/SmkJabatanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/smk/spring/SmkBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/notifikasi/spring/NotifikasiFcmBean.xml" />
    <import resource="sshconfig/com/neurix/hris/transaksi/indisipliner/spring/IndisiplinerBean.xml"/>

    <!-- for Payroll -->
    <import resource="sshconfig/com/neurix/hris/master/payrollTunjanganStrategis/spring/PayrollTunjanganStrategisBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/mappingpersengaji/spring/MappingPersenGajiBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/payrollTunjanganJabatanStruktural/spring/PayrollTunjanganJabatanStrukturalBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/payroll/spring/PayrollBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollBpjs/spring/PayrollBpjsBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/branchTunjangan/spring/BranchTunjanganBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollSkalaGaji/spring/PayrollSkalaGajiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollSkalaGajiPkwt/spring/PayrollSkalaGajiPkwtBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollSkalaGajiPensiun/spring/PayrollskalaGajiPensiunBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollSkalaGajiPensiunDplk/spring/PayrollskalaGajiPensiunDplkBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollSkalaGajiPensiunRni/spring/PayrollskalaGajiPensiunRniBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollBajuDinas/spring/PayrollBajuDinasBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollAirListrik/spring/PayrollAirListrikBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollTunjanganUmk/spring/PayrollTunjanganUmkBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollTunjanganStruktural/spring/PayrollTunjanganStrukturalBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollTunjanganPerumahan/spring/PayrollTunjanganPerumahanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollDanaPensiun/spring/PayrollDanaPensiunBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollFaktorKeluarga/spring/PayrollFaktorKeluargaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollMasaKerjaPensiun/spring/PayrollMasaKerjaPensiunBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/masaTanam/spring/MasaTanamBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/laporan/spring/LaporanBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/kualifikasiCalonPejabat/spring/KualifikasiCalonPejabatBean.xml"/>

    <!-- for Rekruitmen -->
    <import resource="sshconfig/com/neurix/hris/transaksi/rekruitmen/spring/RekruitmenBean.xml"/>
    <!-- for Rekruitmen Pamedicamedicalbrik-->
    <import resource="sshconfig/com/neurix/hris/transaksi/rekruitmenPabrik/spring/RekruitmenPabrikBean.xml"/>
    <!-- For absensi -->
    <import resource="sshconfig/com/neurix/hris/transaksi/absensi/spring/MesinAbsensiDetailBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/absensi/spring/AbsensiBean.xml"/>

    <!--For Dashboard-->
    <import resource="sshconfig/com/neurix/hris/master/dashboard/spring/ImtDashboardBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/dashboardAbsensi/spring/ImtDashboardAbsensiBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/transaksi/medicalKacamata/spring/ItMedicalKacamataBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/medicalBiayaKacamata/spring/ImMedicalBiayaKacamataBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/studyJurusan/spring/StudyJurusanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/carrerPath/spring/CarrerPathBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/pelatihanJabatan/spring/PelatihanJabatanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollMasterInsentif/spring/PayrollMasterInsentifBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollSkalaGajiBod/spring/PayrollSkalaGajiBodBean.xml"/>

    <!--BEAN SIMRS HERE-->
    <import resource="sshconfig/com/neurix/simrs/transaksi/checkup/spring/CheckupBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/checkupdetail/spring/DetailCheckupBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/rawatinap/spring/RawatInapBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/diagnosarawat/spring/DiagnosaRawatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/teamdokter/spring/DokterTeamBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/tindakanrawat/spring/TindakanRawatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/obatinap/spring/ObatInapBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/periksalab/spring/PeriksaLabBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/ordergizi/spring/OrderGiziBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/periksaradiologi/spring/PeriksaRadiologiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/obatpoli/spring/ObatPoliBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/permintaanresep/spring/PermintaanResepBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/permintaanresep/spring/PermintaanResepBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/obatpoli/spring/ObatPoliBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/vendor/spring/VendorBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/fingerPrint/spring/FingerPrintBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/master/pelayanan/spring/PelayananBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/jenisperiksapasien/spring/JenisPeriksaPasienBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/pasien/spring/PasienBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/statuspasien/spring/StatusPasienBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/tindakan/spring/TindakanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/kategoritindakan/spring/KategoriTindakanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/kategoritindakanina/spring/KategoriTindakanInaBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/operatorlab/spring/OperatorLabBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/transaksi/tindakanrawat/spring/TindakanRawatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/antrianonline/spring/RegistrasiOnlineBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/antrianonline/spring/AntrianOnlineBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/master/dokter/spring/DokterBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/diagnosa/spring/DiagnosaBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/kelasruangan/spring/KelasRuanganBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/ruangan/spring/RuanganBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/keterangankeluar/spring/KeteranganKeluarBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/jenisobat/spring/JenisObatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/obat/spring/ObatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/kategorilab/spring/KategoriLabBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/lab/spring/LabBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/labdetail/spring/LabDetailBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/dietgizi/spring/DietGiziBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/telemedic/spring/RekeningTelemedicBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/license/spring/LicenseBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/license/spring/VersionMobileBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/transaksi/permintaanresep/spring/PermintaanResepBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/obatpoli/spring/ObatPoliBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/transaksiobat/spring/TransaksiObatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/permintaanvendor/spring/PermintaanVendorBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/bpjs/vclaim/spring/BpjsBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/bpjs/aplicare/spring/AplicareBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/bpjs/eklaim/spring/EklaimBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/transaksi/verifikator/spring/VerifikatorBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/riwayattindakan/spring/RiwayatTindakanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/permintaangizi/spring/PermintaanGiziBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/kasirrawatinap/spring/KasirRawatInapBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/kasirrawatjalan/spring/KasirRawatJalanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/monitorruangan/spring/MonitorRuanganBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/paketperiksa/spring/PaketPeriksaBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/statusperiksa/spring/StatusPeriksaBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/jenisperiksapasien/spring/AsuransiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/daftarulang/spring/DaftarUlangBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/plankegiatanrawat/spring/PlanKegiatanRawatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/antriantelemedic/spring/AntrianTelemedicBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/verifikatorpembayaran/spring/VerifikatorPembayaranBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/kurir/spring/KurirBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/reseponline/spring/ResepOnlineBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/verifikatorasuransi/spring/VerifikatorAsuransiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/notifikasiadmin/spring/NotifikasiAdminBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/antriantelemedic/spring/AntrianTelemedicBean.xml"/>


    <!--BEAN AKUNTANSI HERE-->
    <import resource="sshconfig/com/neurix/akuntansi/master/kodeRekening/spring/KodeRekeningBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/tipeJurnal/spring/TipeJurnalBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/tipeRekening/spring/TipeRekeningBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/trans/spring/TransBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/master/spring/MasterBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/laporanAkuntansi/spring/LaporanAkuntansiBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/jurnal/spring/JurnalBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/pembayaranUtangPiutang/spring/PembayaranUtangPiutangBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/billingSystem/spring/BillingSystemBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/reportDetail/spring/ReportDetailBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/mappingJurnal/spring/MappingJurnalBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/masterVendor/spring/MasterVendorBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/settingReportUser/spring/SettingReportUserBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/tutupperiod/spring/TutupPeriodBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/pembayaran/spring/PembayaranBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/reportKeuanganKonsol/spring/ReportKeuanganKonsolBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/parameterbudgeting/spring/ParameterBudgetingBean.xml"/>

    <import resource="sshconfig/com/neurix/akuntansi/master/parameterbudgeting/spring/ParameterBudgetingRekeningBean.xml"/>


    <import resource="sshconfig/com/neurix/akuntansi/master/reportKeuanganKonsol/spring/ReportKeuanganKonsolDetailBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/budgeting/spring/BudgetingBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/pengajuanBiaya/spring/PengajuanBiayaBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/pengajuanSetor/spring/PengajuanSetorBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/transaksi/fisioterapi/spring/FisioterapiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/fisioterapi/spring/MonitoringFisioterapiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/asesmenugd/spring/AsesmenUgdBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/asesmenoperasi/spring/AsesmenOperasiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/mpp/spring/MppBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/hemodialisa/spring/HemodialisaBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/hemodialisa/spring/MonitoringTransfusiDarahBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/appendecitomy/spring/AppendecitomyBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/asesmenrawatinap/spring/AsesmenRawatInapBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/pengkajiankeperawatan/spring/PengkajianUlangKeperawatanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/catatanteritegrasi/spring/CatatanTeritegrasiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/rekakmedik/spring/RekamMedikBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/pemberianobat/spring/CatatanPemberianObatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/rencanaasuhankeperawatan/spring/RencanaAsuhanKeperawatanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/rekonsiliasiobat/spring/RekonsiliasiObatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/profilrekammedisrj/spring/RekamMedisRawatJalanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/ringkasanpasien/spring/RingkasanPasienBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/cetakanrm/spring/CetakanRmBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/transaksi/pendapatanDokter/spring/PendapatanDokterBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/DokterKso/spring/DokterKsoBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/DokterKso/spring/DokterKsoTindakanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/tindakan/spring/KategoriTindakanPelayananBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/transaksi/asesmenuspesialis/spring/AsesmenSpesialisBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/tindakanrawaticd9/spring/TindakanRawatICD9Bean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/tindakanicd9/spring/TindakanICD9Bean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/edukasipasien/spring/EdukasiPasienBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/askep/spring/DetailAsuhanKeperawatanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/askep/spring/DiagnosaAsuhanKeperawatanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/asesmenicu/spring/AsesmenIcuBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/hemodinamika/spring/HemodinamikaBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/respirasi/spring/RespirasiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/icu/spring/HeaderIcuBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/kandungan/spring/KandunganBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/mappingpersengaji/spring/MappingPersenGajiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/absensi/spring/MesinAbsensiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/asesmenoperasi/spring/MonAnestesiBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/rekammedis/spring/RekamMedisPasienBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/periksalab/spring/OrderPeriksaLabBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/transaksi/asesmenrawatjalan/spring/KeperawatanRawatJalanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/hemodialisa/spring/ObservasiTindakanHdBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/penyewaanLahan/spring/PenyewaanLahanBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/budgetingnilaidasar/spring/BudgetingNilaiDasarBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/budgetingperhitungan/spring/BudgetingPerhitunganBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/payrollPtkp/spring/PayrollPtkpBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/tipeLaporan/spring/TipeLaporanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipePayroll/spring/TipePayrollBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/statusAbsensi/spring/StatusAbsensiBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/budgetingnilaidasar/spring/BudgetingNilaiDasarBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/transaksi/budgetingperhitungan/spring/BudgetingPerhitunganBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/transaksi/kandungan/spring/PartografBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/asesmenrawatinap/spring/ImplementasiPerawatBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/statusMutasi/spring/StatusMutasiBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/jenisPegawai/spring/JenisPegawaiBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/master/rekananops/spring/RekananOpsBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/rekananops/spring/DetailRekananOpsBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/tindakan/spring/HeaderTindakanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/parampemeriksaan/spring/ParameterPemeriksaanBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/ruangan/spring/TempatTidurBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/tindakanBpjs/spring/TindakanBpjsBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/initdashboard/spring/InitDashboardBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/reportKeuanganArusKas/spring/ReportKeuanganArusKasBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollParamBpjs/spring/PayrollParamBpjsBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/master/kandunganObat/spring/KandunganObatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/jenispersediaanobat/spring/JenisPersediaanObatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/jenispersediaanobatsub/spring/JenisPersediaanObatSubBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/parameterketeranganobat/spring/ParameterKeteranganObatBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/keteranganobat/spring/KeteranganObatBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/master/bentukBarang/spring/BentukBarangBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/master/dietgizi/spring/JenisDietBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/transketeranganobat/spring/TransKeteranganObatBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/master/kategoripersediaan/spring/KategoriPersediaanBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/parameterbudgeting/spring/KategoriParameterBudgetingBean.xml"/>
    <import resource="sshconfig/com/neurix/akuntansi/master/parameterbudgeting/spring/JenisBudgetingBean.xml"/>

</beans>