<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- Database Configuration -->
    <import resource="spring/DataSource.xml"/>
    <import resource="spring/HibernateSessionFactory.xml"/>

    <!-- Beans Declaration -->
    <import resource="sshconfig/com/neurix/authorization/user/spring/UserBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/role/spring/RoleBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/role/spring/RoleFuncBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/position/spring/PositionBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/function/spring/FunctionBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/company/spring/CompanyBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/company/spring/AreaBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/company/spring/BranchBean.xml"/>
    <import resource="sshconfig/com/neurix/authorization/company/spring/AreaBranchUserBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/jamLembur/spring/JamLemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/pengaliFaktorLembur/spring/PengaliFaktorLemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/libur/spring/LiburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/jamLembur/spring/JamLemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/pengaliFaktorLembur/spring/PengaliFaktorLemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipelibur/spring/TipeLiburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/golongan/spring/GolonganBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/updateGolongan/spring/ImtUpdateGolonganBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/department/spring/DepartmentBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/strukturJabatan/spring/StrukturJabatanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/ijin/spring/IjinBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipeNotif/spring/TipeNotifBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/cuti/spring/CutiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/cutiPanjang/spring/CutiPanjangBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/rsKerjasama/spring/RsKerjasamaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/biayaPerjalananDinas/spring/BiayaPerjalananDinasBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/kelompokPosition/spring/KelompokPositionBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/transportLokal/spring/TransportLokalBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/perjalananDinas/spring/PerjalananDinasBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/biodata/spring/BiodataBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipepegawai/spring/TipePegawaiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/keluarga/spring/KeluargaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/study/spring/StudyBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/provinsi/spring/ProvinsiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/sppd/spring/SppdBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/notifikasi/spring/NotifikasiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/notif/spring/NotifBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/medicalrecord/spring/MedicalRecordBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/group/spring/GroupBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/groupShift/spring/GroupShiftBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/groupMember/spring/GroupMemberBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipelibur/spring/TipeLiburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/biayapengobatan/spring/BiayaPengobatanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/jamkerja/spring/JamKerjaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/rskelas/spring/RsKelasBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/shift/spring/ShiftBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/training/spring/TrainingBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/mutasi/spring/MutasiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/ijinKeluar/spring/IjinKeluarBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/cutiPegawai/spring/CutiPegawaiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/belajar/spring/BelajarBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkBudget/spring/SmkBudgetBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/tipeAspek/spring/TipeAspekBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/statusRekruitment/spring/StatusRekruitmentBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/positionBagian/spring/PositionBagianBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/smkKategoriAspek/spring/SmkKategoriAspekBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkIndikatorPenilaianAspek/spring/SmkIndikatorPenilaianAspekBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkIndikatorKinerja/spring/SmkIndikatorKinerjaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkSkalaNilai/spring/SmkSkalaNilaiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkSkalaPointPrestasi/spring/SmkSkalaPointPrestasiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkSkalaNilaiItem/spring/SmkSkalaNilaiItemBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkCheckList/spring/SmkCheckListBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkIndikatorPenilaianCheckList/spring/SmkIndikatorPenilaianCheckListBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/smkPersenSmkNilai/spring/SmkPersenSmkNilaiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/masaTanam/spring/MasaTanamBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/transaksi/Lembur/spring/LemburBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/JadwalShiftKerja/spring/JadwalShiftKerjaBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/smkJabatan/spring/SmkJabatanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/smk/spring/SmkBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/notifikasi/spring/NotifikasiFcmBean.xml" />
    <import resource="sshconfig/com/neurix/hris/transaksi/indisipliner/spring/IndisiplinerBean.xml"/>

    <!-- for Payroll -->

    <import resource="sshconfig/com/neurix/hris/master/payrollTunjanganJabatanStruktural/spring/PayrollTunjanganJabatanStrukturalBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/payroll/spring/PayrollBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/branchTunjangan/spring/BranchTunjanganBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollSkalaGaji/spring/PayrollSkalaGajiBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollSkalaGajiPensiun/spring/PayrollskalaGajiPensiunBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollBajuDinas/spring/PayrollBajuDinasBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollAirListrik/spring/PayrollAirListrikBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollTunjanganUmk/spring/PayrollTunjanganUmkBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollTunjanganStruktural/spring/PayrollTunjanganStrukturalBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollTunjanganPerumahan/spring/PayrollTunjanganPerumahanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollDanaPensiun/spring/PayrollDanaPensiunBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollFaktorKeluarga/spring/PayrollFaktorKeluargaBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollMasaKerjaPensiun/spring/PayrollMasaKerjaPensiunBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/masaTanam/spring/MasaTanamBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/laporan/spring/LaporanBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/kualifikasiCalonPejabat/spring/KualifikasiCalonPejabatBean.xml"/>

    <!-- for Rekruitmen -->
    <import resource="sshconfig/com/neurix/hris/transaksi/rekruitmen/spring/RekruitmenBean.xml"/>
    <!-- for Rekruitmen Pamedicamedicalbrik-->
    <import resource="sshconfig/com/neurix/hris/transaksi/rekruitmenPabrik/spring/RekruitmenPabrikBean.xml"/>
    <!-- For absensi -->
    <import resource="sshconfig/com/neurix/hris/transaksi/absensi/spring/MesinAbsensiDetailBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/transaksi/absensi/spring/AbsensiBean.xml"/>

    <!--For Dashboard-->
    <import resource="sshconfig/com/neurix/hris/master/dashboard/spring/ImtDashboardBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/dashboardAbsensi/spring/ImtDashboardAbsensiBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/transaksi/medicalKacamata/spring/ItMedicalKacamataBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/medicalBiayaKacamata/spring/ImMedicalBiayaKacamataBean.xml"/>

    <import resource="sshconfig/com/neurix/hris/master/studyJurusan/spring/StudyJurusanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/carrerPath/spring/CarrerPathBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/pelatihanJabatan/spring/PelatihanJabatanBean.xml"/>
    <import resource="sshconfig/com/neurix/hris/master/payrollMasterInsentif/spring/PayrollMasterInsentifBean.xml"/>

    <!--BEAN SIMRS HERE-->
    <import resource="sshconfig/com/neurix/simrs/transaksi/checkup/spring/CheckupBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/transaksi/checkupdetail/spring/DetailCheckupBean.xml"/>

    <import resource="sshconfig/com/neurix/simrs/master/pelayanan/spring/PelayananBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/jenisperiksapasien/spring/JenisPeriksaPasienBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/pasien/spring/PasienBean.xml"/>
    <import resource="sshconfig/com/neurix/simrs/master/statuspasien/spring/StatusPasienBean.xml"/>



</beans>