<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
             http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!-- This is where we configure Spring-Security filter chain -->

    <beans:bean id="springSecurityFilterChain"
                class="org.springframework.security.web.FilterChainProxy">
        <filter-chain-map path-type="ant">
            <filter-chain pattern="/index.jsp" filters="none" />
            <filter-chain pattern="/login.jsp" filters="none" />
            <filter-chain pattern="/loginUser.action" filters="none" />
            <filter-chain pattern="/logoutUser.action" filters="none" />
            <filter-chain pattern="/registerFinger.action" filters="none" />
            <filter-chain pattern="/prosesRegisterFinger.action" filters="none" />
            <filter-chain pattern="/loginFinger.action" filters="none" />
            <filter-chain pattern="/prosesLoginFinger.action" filters="none" />
            <filter-chain pattern="/mainMenu.action" filters="none" />
            <filter-chain pattern="/logout.jsp*" filters="none" />
            <filter-chain pattern="/struts/**/*" filters="none" />
            <filter-chain pattern="/pages/css/**" filters="none" />
            <filter-chain pattern="/pages/font/**" filters="none" />
            <filter-chain pattern="/pages/fonts/**" filters="none" />
            <filter-chain pattern="/pages/images/***" filters="none" />
            <filter-chain pattern="/pages/mozilla/**" filters="none" />
            <filter-chain pattern="/pages/script/**" filters="none" />
            <filter-chain pattern="/pages/upload/**/*" filters="none" />
            <filter-chain pattern="/pages/upload/**" filters="none" />
            <filter-chain pattern="/pages/bootstrap/**" filters="none" />
            <filter-chain pattern="/pages/bootstraplte/**" filters="none" />
            <filter-chain pattern="/pages/bootstraplte/js/**" filters="none" />
            <filter-chain pattern="/pages/build/**/*" filters="none" />
            <filter-chain pattern="/pages/dist/css/**/*" filters="none" />
            <filter-chain pattern="/pages/dist/js/**" filters="none" />
            <filter-chain pattern="/pages/plugins/jQuery/**" filters="none" />
            <filter-chain pattern="/pages/plugins/**/*" filters="none" />
            <filter-chain pattern="/pages/webgis/**/*" filters="none" />
            <filter-chain pattern="/dashboard.action" filters="none" />
            <filter-chain pattern="/dwr/**" filters="none" />
            <filter-chain pattern="/pages/antrian/**" filters="none" />
            <filter-chain pattern="/pages/modal/**" filters="none" />

            <filter-chain pattern="/mobileapi/cronproccess" filters="none" />
            <filter-chain pattern="/mobileapi/loginmobile" filters="none" />
            <filter-chain pattern="/mobileapi/loginmobile/*" filters="none" />
            <filter-chain pattern="/mobileapi/loginmobile/*/**" filters="none" />
            <filter-chain pattern="/mobileapi/cutipegawai" filters="none" />
            <filter-chain pattern="/mobileapi/cutipegawai/*" filters="none" />
            <filter-chain pattern="/mobileapi/cutipegawai/*/**" filters="none" />
            <filter-chain pattern="/mobileapi/ijinkeluar" filters="none" />
            <filter-chain pattern="/mobileapi/ijinkeluar/*" filters="none" />
            <filter-chain pattern="/mobileapi/ijinkeluar/*/**" filters="none" />
            <filter-chain pattern="/mobileapi/sppd" filters="none" />
            <filter-chain pattern="/mobileapi/sppd/*" filters="none" />
            <filter-chain pattern="/mobileapi/sppd/*/**" filters="none" />
            <filter-chain pattern="/mobileapi/training" filters="none" />
            <filter-chain pattern="/mobileapi/training/*" filters="none" />
            <filter-chain pattern="/mobileapi/training/*/**" filters="none" />
            <filter-chain pattern="/mobileapi/biodata" filters="none"/>
            <filter-chain pattern="/mobileapi/biodata/*" filters="none"/>
            <filter-chain pattern="/mobileapi/biodata/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/absensi" filters="none"/>
            <filter-chain pattern="/mobileapi/absensi/*" filters="none"/>
            <filter-chain pattern="/mobileapi/absensi/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/payroll" filters="none"/>
            <filter-chain pattern="/mobileapi/payroll/*" filters="none"/>
            <filter-chain pattern="/mobileapi/payroll/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/viewpayroll" filters="none"/>
            <filter-chain pattern="/mobileapi/viewpayroll/*" filters="none"/>
            <filter-chain pattern="/mobileapi/viewpayroll/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/sisacuti" filters="none"/>
            <filter-chain pattern="/mobileapi/sisacuti/*" filters="none"/>
            <filter-chain pattern="/mobileapi/sisacuti/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/lembur" filters="none"/>
            <filter-chain pattern="/mobileapi/lembur/*" filters="none"/>
            <filter-chain pattern="/mobileapi/lembur/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/notifikasi" filters="none" />
            <filter-chain pattern="/mobileapi/branch" filters="none" />
            <filter-chain pattern="/mobileapi/pengajuancuti" filters="none" />
            <filter-chain pattern="/mobileapi/pengajuancuti/*" filters="none"/>
            <filter-chain pattern="/mobileapi/pengajuancuti/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/biodata" filters="none" />
            <filter-chain pattern="/mobileapi/biodata/*" filters="none"/>
            <filter-chain pattern="/mobileapi/biodata/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/biodataprofile" filters="none" />
            <filter-chain pattern="/mobileapi/biodataprofile/*" filters="none"/>
            <filter-chain pattern="/mobileapi/dispensasi" filters="none" />
            <filter-chain pattern="/mobileapi/allnotification" filters="none" />
            <filter-chain pattern="/mobileapi/dispensasi/*" filters="none"/>
            <filter-chain pattern="/mobileapi/dispensasi/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/payrol" filters="none"/>
            <filter-chain pattern="/mobileapi/payrol/*" filters="none"/>
            <filter-chain pattern="/mobileapi/historycuti" filters="none"/>

            <filter-chain pattern="/mobileapi/registrasi" filters="none" />
            <filter-chain pattern="/mobileapi/registrasi/*" filters="none"/>
            <filter-chain pattern="/mobileapi/registrasi/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/antrian" filters="none" />
            <filter-chain pattern="/mobileapi/antrian/*" filters="none"/>
            <filter-chain pattern="/mobileapi/antrian/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/pelayanan" filters="none" />
            <filter-chain pattern="/mobileapi/pelayanan/*" filters="none"/>
            <filter-chain pattern="/mobileapi/pelayanan/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/provinsi" filters="none" />
            <filter-chain pattern="/mobileapi/provinsi/*" filters="none"/>
            <filter-chain pattern="/mobileapi/provinsi/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/kota" filters="none" />
            <filter-chain pattern="/mobileapi/kota/*" filters="none"/>
            <filter-chain pattern="/mobileapi/kota/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/kecamatan" filters="none" />
            <filter-chain pattern="/mobileapi/kecamatan/*" filters="none"/>
            <filter-chain pattern="/mobileapi/kecamatan/*/**" filters="none"/>
            <filter-chain pattern="/mobileapi/desa" filters="none" />
            <filter-chain pattern="/mobileapi/desa/*" filters="none"/>
            <filter-chain pattern="/mobileapi/desa/*/**" filters="none"/>

            <filter-chain pattern="/mobileapi/testbpjs" filters="none" />
            <filter-chain pattern="/mobileapi/loginpasien" filters="none" />

            <filter-chain pattern="/mobileapi/bpjs" filters="none" />

            <filter-chain pattern="/mobileapi/loginpasien/*" filters="none" />
            <filter-chain pattern="/mobileapi/loginpasien/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/pengajuanlembur" filters="none" />
            <filter-chain pattern="/mobileapi/pengajuanlembur/*" filters="none" />
            <filter-chain pattern="/mobileapi/pengajuanlembur/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/dokter" filters="none" />
            <filter-chain pattern="/mobileapi/dokter/*" filters="none" />
            <filter-chain pattern="/mobileapi/dokter/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/statuspasien" filters="none" />
            <filter-chain pattern="/mobileapi/statuspasien/*" filters="none" />
            <filter-chain pattern="/mobileapi/statuspasien/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/checkup" filters="none" />
            <filter-chain pattern="/mobileapi/checkup/*" filters="none" />
            <filter-chain pattern="/mobileapi/checkup/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/purchaseorder" filters="none" />
            <filter-chain pattern="/mobileapi/purchaseorder/*" filters="none" />
            <filter-chain pattern="/mobileapi/purchaseorder/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/permintaanobat" filters="none" />
            <filter-chain pattern="/mobileapi/permintaanobat/*" filters="none" />
            <filter-chain pattern="/mobileapi/permintaanobat/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/transaksiapotek" filters="none" />
            <filter-chain pattern="/mobileapi/transaksiapotek/*" filters="none" />
            <filter-chain pattern="/mobileapi/transaksiapotek/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/rawatinap" filters="none" />
            <filter-chain pattern="/mobileapi/rawatinap/*" filters="none" />
            <filter-chain pattern="/mobileapi/rawatinap/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/ruangan" filters="none" />
            <filter-chain pattern="/mobileapi/ruangan/*" filters="none" />
            <filter-chain pattern="/mobileapi/ruangan/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/user" filters="none" />
            <filter-chain pattern="/mobileapi/user/*" filters="none" />
            <filter-chain pattern="/mobileapi/user/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/absensi" filters="none" />
            <filter-chain pattern="/mobileapi/absensi/*" filters="none" />
            <filter-chain pattern="/mobileapi/absensi/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/kasir" filters="none" />
            <filter-chain pattern="/mobileapi/kasir/*" filters="none" />
            <filter-chain pattern="/mobileapi/kasir/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/telemedicine" filters="none" />
            <filter-chain pattern="/mobileapi/telemedicine/*" filters="none" />
            <filter-chain pattern="/mobileapi/telemedicine/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/pembayaran" filters="none" />
            <filter-chain pattern="/mobileapi/pembayaran/*" filters="none" />
            <filter-chain pattern="/mobileapi/pembayaran/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/testelemedic" filters="none" />

            <filter-chain pattern="/mobileapi/testnotif" filters="none" />
            <filter-chain pattern="/mobileapi/testnotif/*" filters="none" />
            <filter-chain pattern="/mobileapi/testnotif/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/kurir" filters="none" />
            <filter-chain pattern="/mobileapi/kurir/*" filters="none" />
            <filter-chain pattern="/mobileapi/kurir/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/reseponline" filters="none" />
            <filter-chain pattern="/mobileapi/reseponline/*" filters="none" />
            <filter-chain pattern="/mobileapi/reseponline/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/pengiriman" filters="none" />
            <filter-chain pattern="/mobileapi/pengiriman/*" filters="none" />
            <filter-chain pattern="/mobileapi/pengiriman/*/**" filters="none" />


            <filter-chain pattern="/mobileapi/asuransi" filters="none" />
            <filter-chain pattern="/mobileapi/asuransi/*" filters="none" />
            <filter-chain pattern="/mobileapi/asuransi/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/rekening" filters="none" />
            <filter-chain pattern="/mobileapi/rekening/*" filters="none" />
            <filter-chain pattern="/mobileapi/rekening/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/historypegawai" filters="none" />
            <filter-chain pattern="/mobileapi/historypegawai/*" filters="none" />
            <filter-chain pattern="/mobileapi/historypegawai/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/jadwalshift" filters="none" />
            <filter-chain pattern="/mobileapi/jadwalshift/*" filters="none" />
            <filter-chain pattern="/mobileapi/jadwalshift/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/antrianpoli" filters="none" />
            <filter-chain pattern="/mobileapi/antrianpoli/*" filters="none" />
            <filter-chain pattern="/mobileapi/antrianpoli/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/company" filters="none" />
            <filter-chain pattern="/mobileapi/company/*" filters="none" />
            <filter-chain pattern="/mobileapi/company/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/license" filters="none" />
            <filter-chain pattern="/mobileapi/license/*" filters="none" />
            <filter-chain pattern="/mobileapi/license/*/**" filters="none" />

            <filter-chain pattern="/mobileapi/version" filters="none" />
            <filter-chain pattern="/mobileapi/versionmobile" filters="none" />

            <filter-chain pattern="/mobileapi/settlementinvoice/*/**" filters="none" />

            <filter-chain pattern="/**/*"
                          filters="
                        	concurrentSessionFilter,
                        	securityContextPersistenceFilter,
                        	logoutFilter,
                        	authenticationFilter,
                        	rememberMeFilter,
                        	securityRequestFilter,
                        	exceptionTranslationFilter,
                        	filterSecurityInterceptor" />

        </filter-chain-map>
    </beans:bean>

    <beans:bean id="concurrentSessionFilter" class="org.springframework.security.web.session.ConcurrentSessionFilter"
                p:sessionRegistry-ref="sessionRegistry"
                p:expiredUrl="/loginUser.action" />

    <beans:bean id="sessionRegistry"
                class="org.springframework.security.core.session.SessionRegistryImpl" />

    <beans:bean id="securityContextPersistenceFilter"
                class="org.springframework.security.web.context.SecurityContextPersistenceFilter" />

    <beans:bean id="logoutFilter"
                class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <beans:constructor-arg value="/logoutUser.action"/>
        <beans:constructor-arg>
            <beans:list>
                <beans:ref bean="rememberMeServices"/>
                <beans:bean id="logoutHandler"
                            class="com.neurix.common.security.CustomSecurityContextLogoutHandler"
                            p:invalidateHttpSession="true">
                </beans:bean>
            </beans:list>
        </beans:constructor-arg>
        <beans:property name="filterProcessesUrl" value="/j_spring_security_logout"/>
    </beans:bean>

    <beans:bean id="authenticationFilter"
                class="com.neurix.common.security.CustomUsernamePasswordAuthenticationFilter"
                p:rememberMeServices-ref="rememberMeServices"
                p:allowSessionCreation="true"
                p:sessionAuthenticationStrategy-ref="sas"
                p:authenticationManager-ref="authenticationManager"
                p:authenticationFailureHandler-ref="customAuthenticationFailureHandler"
                p:authenticationSuccessHandler-ref="customAuthenticationSuccessHandler"/>

    <beans:bean id="customAuthenticationFailureHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"
                p:defaultFailureUrl="/loginUser.action"/>

    <!-- We just actually need to set the default target url here -->
    <beans:bean id="customAuthenticationSuccessHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler"
                p:defaultTargetUrl="/mainMenu.action"/>

    <beans:bean id="rememberMeServices"
                class="com.neurix.common.security.CustomRememberMeServices"
                p:userDetailsService-ref="customUserService"
                p:key="springRocks"/>

    <beans:bean id="rememberMeFilter" class="com.neurix.common.security.CustomRememberMeAuthenticationFilter"
            p:authenticationManager-ref="authenticationManager"
            p:rememberMeServices-ref="rememberMeServices" />

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="customUserService">
            <security:password-encoder hash="sha"/>
        </security:authentication-provider>
        <security:authentication-provider ref="rememberMeAuthenticationProvider"/>
    </security:authentication-manager>

    <!--this service to get user detail login session -->
    <beans:bean id="customUserService" class="com.neurix.common.security.CustomUserDetailService"
                p:sessionRegistry-ref="sessionRegistry"
                p:userBo-ref="userBoProxy"/>

    <!-- This ensures that remember-me is added as an authentication provider -->
    <beans:bean id="rememberMeAuthenticationProvider"
                class="org.springframework.security.authentication.RememberMeAuthenticationProvider"
                p:key="springRocks"/>

    <beans:bean id="sas"
                class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy"
                p:maximumSessions="1"
                p:exceptionIfMaximumExceeded="true">
        <beans:constructor-arg name="sessionRegistry" ref="sessionRegistry"/>
    </beans:bean>

    <beans:bean id="securityRequestFilter"
                class="org.springframework.security.web.servletapi.SecurityContextHolderAwareRequestFilter" />

    <beans:bean id="exceptionTranslationFilter"
                class="org.springframework.security.web.access.ExceptionTranslationFilter"
                p:accessDeniedHandler-ref="accessDeniedHandler"
                p:authenticationEntryPoint-ref="authenticationProcessingFilterEntryPoint" />

    <beans:bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl"
                p:errorPage="/accessDenied.jsp"/>

    <beans:bean id="authenticationProcessingFilterEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint"
                p:loginFormUrl="/loginUser.action"
                p:forceHttps="false"/>

    <!--this filter security filter for validate url should have role in system-->
    <beans:bean id="filterSecurityInterceptor"
                class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor"
                p:accessDecisionManager-ref="accessDecisionManager"
                p:authenticationManager-ref="authenticationManager"
                p:securityMetadataSource-ref="customFilterInvocationSecurityMetadataSource"
                p:validateConfigAttributes="true"/>

    <beans:bean id="customFilterInvocationSecurityMetadataSource"
                class="com.neurix.common.security.CustomFilterInvocationSecurityMetadataSource" />

    <beans:bean id="accessDecisionManager"
                class="org.springframework.security.access.vote.AffirmativeBased">
        <beans:property name="decisionVoters">
            <beans:list>
                <beans:ref bean="authenticatedVoter" />
            </beans:list>
        </beans:property>
    </beans:bean>

    <beans:bean id="authenticatedVoter" class="org.springframework.security.access.vote.AuthenticatedVoter" />

</beans:beans>
